/* most things */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}


.result-section {
    float: left;
}

.result-head-spacer {
    height: 38px;
}

.result-line-spacer {
    border-left: 1px solid #e0e0e0;
    margin: 0px 0.5em;
    margin-top: 40px;
    height: 200px;
    position: relative;
    float: left;
}


.button-section {
    white-space: nowrap;
    padding-left: 0.25em;
}

.button-select-ul {
    list-style: none outside none;
    display: inline-block;
}

.button-select-a {
    padding: 0.5em;
    line-height: 38px;
}

/* tables */
/* every second line of table color */
tr:nth-child(even) {
    background-color: #f8f8f8;
}

th {
    background-image: url('a-down-s.png');
    background-repeat: no-repeat;
    background-position: right;
}

th, td {
    padding-bottom: 2px;
    padding-right: 3px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:hover {
    background-color: skyblue;
}

.result-table {
    border-collapse: collapse;
}

.progress-bar > .pb-bar {
    background-color: orange;
    width: 40%;
    height: 3px;
}

.big-button {
    /* x x b x */
    margin: 4px 4px 4px 0px;
    width: 40px;
    height: 26px;
}

.big-button-link { 
    padding: 0.5em;
    line-height: 38px;
} 

#new-scan-button {
    background-color: gold;
}

/* for development */
.dev {
    font-size: 0.6em;
    color: #f79;
}
/*
div {
    border: 1px solid #ddd;
}

*/
