/* most things */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}


.result-section {
    float: left;
}

.result-head-spacer {
    height: 38px;
}

.result-line-spacer {
    border-left: 1px solid #e0e0e0;
    margin: 0px 0.5em;
    margin-top: 4px;
    height: 200px;
    position: relative;
    float: left;
}


.button-section {
    white-space: nowrap;
    padding-left: 0.25em;
}

.button-select-ul {
    list-style: none outside none;
    display: inline-block;
}

.button-spacer-ul {
    list-style: none outside none;
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    height: 16px;
    position: relative;
}

.button-select-a {
    padding: 0.5em;
    line-height: 38px;
}

.button-select-selected, .button-select-a:hover {
    background-color: #44dd22;
    padding-bottom: 1em;
}

/* tables */
/* every second line of table color */
tr:nth-child(even) {
    background-color: #f8f8f8;
}

th.sort {
    background-image: url('img/a-down-16.png');
    background-repeat: no-repeat;
    background-position: right;
}

.list-or-topol {
    display: table;
    float: left;
}
.list-top-ind {
    background-color: #44dd22;
    height: 3px;
}

th, td {
    padding-bottom: 2px;
    padding-right: 3px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #ddd;
}

th.sort:hover {
    background-color: #ccaaff;
}

.result-table {
    border-collapse: collapse;
}

.progress-bar > .pb-bar {
    background-color: orange;
    width: 40%;
    height: 3px;
}

.big-button {
    margin: 4px 4px 4px 0px;
    width: 32px;
    height: 32px;
}

.big-nav-ul {
    list-style: none outside none;
    display: inline-block;
}

.host-details {
    list-style: none outside none;
    padding-left: 1.4em;
}

.host-details-table {
    margin-left: 1.4em;
}

.big-button-link { 
    padding: 0.5em;
    line-height: 38px;
} 

#go-scan-button {
    background-image: url('img/play-green-32.png');
}

#go-scan-button .scanning {
    background-image: url('img/play-green-32.png');
}

#pretend-window {
    background: #fff;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    display: table;
}

body {
    background-color: green;
    background-image: url('img/bliss.jpg');
}
